@model List<CaseMVC.Models.ccase>

@{
    ViewBag.Title = ViewBag.FuncName + "Case 列表";
}
<h2>@ViewBag.FuncName Case 列表</h2>
<hr />
<form class="form" action="@Url.Action("Index", "ccases")" method="post" role="form" id="theForm">

    <input type="hidden" name="f" value="@ViewBag.Func" />

    <div class="row well">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        @Html.Editor("searchStr", new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                    </div>
                    <div class="col-xs-8">
                        <button type="submit" id="btnSeqSearch" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> 依現有結果查詢
                        </button>
                        <input type="hidden" name="freshSearch" value="0" id="freshSearch" />
                        <button type="button" id="btnFreshSearch" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> 重新查詢
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("新增", "Create", new { f = ViewBag.Func }, new { @class = "btn btn-default" })
            </p>
            <table class="table" style="max-width: 960px;">
                <thead>
                    <tr>
                        <th style="width: 70px;">
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().l_value)
                        </th>
                        <th style="width: 230px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                @(i + 1)
                                @Html.HiddenFor(modelItem => Model[i].c_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].description)
                                @Html.HiddenFor(modelItem => Model[i].description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].l_value)
                                @Html.HiddenFor(modelItem => Model[i].l_value)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","ccases", new { id = Model[i].c_id})" style="text-decoration: none;">編輯</a> &nbsp;&nbsp;
                                <a style="cursor: pointer;" class="delButton" data-toggle="modal" data-target="#deleteItemModal" data-id="@Model[i].c_id">刪除</a>
                                |
                                <a href="@Url.Action("Index","conditions", new { cid = Model[i].c_id, add = 0})">Conditions</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteItemModalLabel">訊息</h4>
            </div>
            <div class="modal-body">
                刪除此項目?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete">刪除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert" style="display:none;" id="deleteItemSuccess">
    <strong>刪除成功!</strong>
</div>

<script>
    $(function () {

        $('#btnFreshSearch').click(function () {
            $('#freshSearch').val("1");
            $('#theForm').submit();
        });

        $('#deleteItemModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var itemId = button.data('id') // Extract info from data-* attributes

            $("#btnDelete").click(function () {
                ajaxDeleteFunc(itemId);
            });
        })

        function ajaxDeleteFunc(itemId) {
            $.ajax({
                type: "post",
                url: "@Url.Action("Delete", "ccases")",
                ajaxasync: true,
                data: { id: itemId },
                headers: {
                    'RequestVerificationToken': '@CommonRazorFunctions.GetAntiForgeryToken()'
                },
                success: function () {

                    // Perform redirect
                    window.location.replace("@Url.Action("Index", "ccases")");
                },
                error: function (data) {
                    alert(data.x);
                }
            });

        }

    });
</script>
